{{#if table}}
    <div class="container-fluid h-100 d-flex flex-column">
        <div class="row">
            Table: {{ table.id }}
                <button id="add-order">Créer commande</button>
                {{#if table.order}}
                    commande : {{table.order.id}}
                {{/if}}
        </div>
        <div class="row  flex-grow-1 overflow-auto">
            <div class="col-sm-5 h-100 overflow-auto">
                {{> panelOrder }}
            </div>
            <div class="col-sm-2  h-100 d-grid gap-2 py-3">
                <button class="btn btn-primary btn-lg" type="button"><i class="fas fa-glass-water"></i></button>
                <button class="btn btn-primary btn-lg" type="button"><i class="fas fa-martini-glass-empty"></i></button>
                <button class="btn btn-primary btn-lg" type="button"><i class="fas fa-burger"></i></button>
                <button class="btn btn-primary btn-lg" type="button"><i class="fas fa-cheese"></i></button>
                <button class="btn btn-primary btn-lg" type="button"><i class="fas fa-mug-saucer"></i></button>
                <button class="btn btn-danger btn-lg" type="button">Payer</button>
            </div>
            <div class="col-sm-5  h-100 overflow-auto">
                {{> panelProducts }}
            </div>
        </div>
    </div>
{{else}}
    Pas de table séléctionnée
{{/if}}
